.Error{
    color: red;
    font-size: 100px;
    margin-top: 300px;
    text-align: center;
    
}
.imgslader{
    width: 100%;
    height: 90vh;
}

body{
    background-color: rgba(247, 247, 247, 0.575);
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 40px;

}
.cardd{
    text-align: center;
    background-color: rgb(233, 230, 230);

}

.cardd:hover{
    text-align: center;
    background-color: rgb(177, 177, 177);
    color: white;
    
}
.cards{
    border-top: 2px solid rgba(59, 59, 59, 0.253);
    padding: 50px 50px 50px 50px;
    background-color: rgb(243, 243, 243);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}
.ddda:hover{
    box-shadow: 10px 10px 5px grey,

}
footer{
    margin-top:50px;
    justify-content: center;
    background-color: whitesmoke;
    padding: 50px 0;
}

.deltails{
    margin-top: 50px;
    border: 2px solid rgba(104, 102, 102, 0.199);
    padding: 30px;
    background-color: rgba(246, 250, 187, 0.192);
    text-align: right;
}
.imgcard{
    width: 100%;
    height: 200px;
}